// colors
$brand-primary: #397ab1;
$gray: #ddd;
$light-gray: #f9f9f9;
// layout
$space: 1.4rem;
$base-font-size: 1.6rem;
$site-max-width: 90rem;
// box
$box-view-overlay-bg: $gray;
$box-view-bg: white;
$box-view-border-color: $gray;
// button
$button-bg:$brand-primary;
$button-basic-color:$brand-primary;
$button-secondary-color:$light-gray;
// header
$header-bg: $brand-primary;
// item
$item-bg: $light-gray;
$item-border: $gray;
