// colors
$brand-primary: #448aff;
$gray: #ddd;
$light-gray: #eaeaea;
// body
$body-bg: #fafafa;
$body-default-color: #333;
// layout
$space: 1.4rem;
$base-font-size: 1.6rem;
$site-max-width: 90rem;
// box
$box-view-overlay-bg: $gray;
$box-view-bg: white;
$box-view-border-color: $gray;
// button
$button-bg:$brand-primary;
$button-basic-color:$brand-primary;
$button-secondary-color:$light-gray;
// header
$header-bg: $brand-primary;
// item
$item-bg: $light-gray;
$item-border: $gray;
// card
$card-width: 290px;
$card-bg: white;
$card-border-color: $gray;
// lable
$label-bg: #e8e8e8;
$label-color:rgba(0, 0, 0, 0.6);
$label-font-weight: 700;
$label-radius: 0.25rem;