.box {
  background-color: fade-out($box-view-overlay-bg, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @at-root {
    #{&}__header {
      margin-bottom: 20px;
    }
    #{&}__box {
      background-color: $box-view-bg;
      border: 1px solid $box-view-border-color;
      padding: 2.4rem;
      text-align: center;
      width: 24rem;
    }
    #{&}__form {
      display: flex;
      flex-direction: column;
    }
    #{&}__modal {
      background-color: fade-out($box-view-overlay-bg, 0.3);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
