.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @at-root {
    #{&}__header {
      color: $brand-primary;
      font-weight: 400;
      margin: 20px;
    }
    #{&}__box {
      min-width: 400px;
      background-color: $box-view-bg;
      border: 1px solid $box-view-border-color;
      padding: 2.4rem 0;
      text-align: center;
      width: 24rem;
    }
    #{&}__form {
      display: flex;
      flex-direction: column;
    }
    #{&}__modal {
      background-color: fade-out($box-view-overlay-bg, 0.3);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}