.section {
  background-color: #fff;
  border: 1px solid $gray;
  padding: $space;
  margin: $space;
  flex: 1;
  min-height: 80vh;
  @at-root {
    #{&}__header {
      padding: 1rem;
      border-bottom: 1px solid $gray;
      margin-bottom: 20px;
    }
    #{&}__content {}
  }
}
